body{
background-color: black;
}

h1{
  color:white;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

p{
  font-family: 'Roboto', sans-serif;
}

.cat{
  position: relative;
  margin: 10px;
  border-radius: 10px;
}

.polaroid img{
  opacity: .4;
  filter: blur(2px);
  filter: brightness(.5);
}

.polaroid img:hover{
  opacity: 1;
  filter: blur(0);
  filter: brightness(1);
  /*cursor:wait;*/
  /*cursor: text;*/
  /*cursor:pointer;*/
  /*cursor:help;*/
  cursor:copy;
}

/*Navbar*/
*{
  margin:0;
  padding:0;
}
header{
  width:100%;
  height: auto;
  padding-bottom: 75px;
}
nav{
  background-color: #efefef;
  overflow: hidden;
  position:absolute;
  z-index: 1;
  width: 100%;
}

nav ul{
  margin-right: 50px;
}

nav ul li{
  margin:20px;
  float: right;
  display: inline;
}

li a{
  font-size: 1.5em;
  color:black;
  text-decoration: none;
}
.logo_space{
  float: left;
  padding: 1em;
  width: 30%;
}
.logo{
  font-size: 1.5em;
  text-decoration: none;
}
.iconNav{
  cursor:pointer;
  font-size: 1.5em;
  display:block;
  margin: 20px;
  float:right;
}
.show{
  display:block;
  float: none;
}
.modal{
  display: none;
  position:fixed;
  padding-top:200px;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
}

.modal-content{
  margin:auto;
  display:block;
  width:80%;
  max-width:700px;
  animation:zoom .5s;
}

.cerrar{
  position:absolute;
  top:15px;
  right: 35px;
  font-size: 40px;
  font-family:sans-serif;
  color: white;
  cursor:pointer;
}
/*div.polaroid:hover{
    /*transform: translateX(50px);*/
    /*transform:rotate(20deg);*/
    /*transform: scale(1.2,1.2);*/
    /*transform: skew(-10deg);
}*/
div.polaroid{
  position: relative;
  background-color: white;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: block;
  /*Cuando encuentre una transformación la va a aplicar por 0.3s*/
  transition: transform .3s;
  transition-delay: .2s;
  animation-name: skew;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  /*Si queremos resumir todas esas líneas:
  animation: skew 4s infinite alternate;*/
}

.texto{
  text-align: center;
}

.imgtext{
  position:absolute;
  top: 8%;
  left: 16px;
  font-size: 18px;
  color:white;
}

.cubo{
  width: 100px;
  height: 100px;
  background-color: red;
  transition: width 2s, height 2s, transform 4s;
  transition-timing-function: ease;
  /*ease-in hace que inicie lento y termine rápido
  ease-in-out hace que esa todo lento*/
}

div.cubo:hover{
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
  animation-name: ejemplo;
  animation-duration: 4s;
  /*animation-delay: 1s;*/
}

@keyframes zoom {
  from{transform: scale(0);}
  to{transform:scale(1);}
}
@keyframes ejemplo{
  0%{background-color: red};
  25%{background-color: orange};
  50%{background-color: yellow};
  100%{background-color: blue};
}

@keyframes skew {
  0%{transform: skewX(-10deg);};
  100%{transform: skewY(10deg);};
}

@media screen and (max-width:480px) /*iPhone 4*/ {
  body{
    background-color: red;
  }
  nav ul li{
    display:none;
  }
}

@media screen and (min-width: 481px) and (max-width:760px) /*phablets o tablets*/ {
  body{
    background-color: green;
  }
  nav ul li{
    display:none;
  }
  .logo_space{
    width: 80%;
  }
}

@media screen and (min-width: 761px){
  body{
    background-color: gray;
  }
  div.polaroid{
    display:inline-block;
    margin-left: 10%;
  }
  .iconNav{
    display: none;
  }
}

/*
Si queremos eliminar algún elemento ponemos: display:none */

.ejercicios{
  position: relative;
  /*el 0 nos indica que las siguientes propiedades tendran su valor por default*/
  background: url("cat.jpg") 0/ cover fixed;
  width: 100%;
  height: 500px;
}

.content{
  position: absolute;
  border-radius: 10px;
  background-color: hsla(120,10%,100%,.6);
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
  top: 15%;
  bottom: 15%;
  left: 10%;
  right: 10%;
  filter: blur(2px);
}

.text{
  top:40%; bottom: 40%; left: 40%; right: 40%;
  position: absolute;
}

/*Mas de pseudoclases:
p:nth-last-of-type(2)
el ultimo de los hijos de cada grupo

p:only-of-type
todos los de ese tipo

p:last-child
el útltimo hijo

p:only-child
el único hijo
*/

/*Los dos ":" indican "pseudo-elemento" */
.parrafo::first-line{
  color:green;
  font-size: 2em;
}

.parrafo::first-letter{
  font-size: 3em;
}

.parrafo::before{
  content:url("cat.jpg");
}

.parrafo::selection{
  color:yellow;
  background-color: black;
}
