body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1{
  color:green;
  text-align:center;
}

.cat{
  position: relative;
  margin: 10px;
  border-radius: 10px;
}

.polaroid img{
  opacity: .4;
  filter: blur(2px);
  filter: brightness(.5);
}

.polaroid img:hover{
  opacity: 1;
  filter: blur(0);
  filter: brightness(1);
}
div.polaroid{
  background-color: white;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: block;
}

.texto{
  text-align: center;
}
